@use "global" as *;

.campaign {
    margin-top: rem(40);

    @include mq(md) {
        position: relative;
        margin-top: rem(120);
    }
}

.campaign__inner {
    padding-right: 0;
    padding-left: 0;
}

.campaign__contents {
    margin-top: rem(24);

    @include mq(md) {
        margin-top: rem(40);
    }
}

.campaign__contents .swiper {
    padding-left: rem(15);
    padding-right: rem(24);
    padding-bottom: rem(40);

    @include mq(md) {
        padding-left: rem(180);
        padding-bottom: rem(80);
    }
}

.campaign__button {
    text-align: center;
}