@use "global" as *;

.price {
    padding-top: rem(80);
    padding-bottom: rem(78.4);
    background-color: $lightGreen;

    @include mq(md) {
        padding-top: rem(96);
        padding-bottom: rem(100);
        overflow: hidden;
    }
}

.price__inner {
    @include mq(md) {
        position: relative;
    }
}

.price__flex {
    margin-top: rem(27.2);
    max-width: rem(600);
    margin: 0 auto;
    width: 100%;

    @include mq(md) {
        max-width: unset;
        margin-top: rem(40);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.price__image {
    aspect-ratio: 345 / 227;
    overflow: hidden;
    position: relative;

    @include mq(md) {
        width: 45.7%;
        height: auto;
        aspect-ratio: 492 / 746;
    }
}

.price__image .color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $green;
}

.price__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price__contents {
    margin-top: rem(45);

    @include mq(md) {
        width: 46%;
        margin-top: rem(5);
    }
}

.price__content:not(:first-child) {
    margin-top: rem(30);
}

.price__subtitle {
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1;

    @include mq(md) {}
}

.price__subtitle::after {
    content: "";
    display: block;
    margin-top: rem(7);
    width: 100%;
    height: rem(1);
    background-color: $green;
    @include mq(md) {
        margin-top: rem(7);
    }
}

.price__table {
    margin-top: rem(8);
    width: 100%;
    @include mq(md) {
        margin-top: rem(8);
    }
}

.price__table tr {
    padding-bottom: rem(16);
}

.price__table tr:not(:first-child) {
    margin-top: rem(8);
}

.price__table th {
    width: rem(255);
    text-align: left;
    font-size: rem(14);
    font-weight: $regular;
    line-height: 1;
    padding-bottom: rem(16);
    padding-left: 0;

    @include mq(md) {
        width: rem(392);
        font-size: rem(16);
        line-height: 1;
        padding-bottom: rem(14);
    }
}

.price__table td {
    width: rem(80);
    text-align: right;
    font-size: rem(14);
    line-height: 1;
    padding-bottom: rem(16);
    padding-right: 0;

    @include mq(md) {
        font-size: rem(16);
        line-height: 1;
        padding-bottom: rem(14);
    }
}

.price__button {
    text-align: center;
    margin-top: rem(28);
    padding-left: rem(69);
    padding-right: rem(70);

    @include mq(md) {
        margin-top: rem(78);
    }
}

.price__illust {
    display: none;

    @include mq(md) {
        display: block;
        position: absolute;
        width: rem(437);
        height: rem(201);
        bottom: rem(-37);
        left: rem(-54);
    }
}